<?xml version="1.0"?>
<!--Refer to the http://community.devexpress.com/blogs/eaf/archive/2011/08/24/xaf-workflow-persistence-storage.aspx blog post for more details.-->
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="DevExpressWorkflowInstanceStore" type="DevExpress.Workflow.Store.WorkflowInstanceStoreElement, DevExpress.Workflow.Activities.v12.2" />
      </behaviorExtensions>
    </extensions>
    <services>
      <service name="CountingWorkflow" behaviorConfiguration="">
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <!--<sqlWorkflowInstanceStore
            connectionString="Integrated Security=SSPI;Pooling=false;Data Source=.\SQLEXPRESS;Initial Catalog=Q477662;Asynchronous Processing=True"
            hostLockRenewalPeriod="00:00:05" runnableInstancesDetectionPeriod="00:00:02" instanceCompletionAction="DeleteAll"
            instanceLockedExceptionAction="AggressiveRetry" instanceEncodingOption="GZip"
            />-->
          <DevExpressWorkflowInstanceStore connectionString="Integrated Security=SSPI;Pooling=false;Data Source=.\SQLEXPRESS;Initial Catalog=Q477662;Asynchronous Processing=True"
            runnableInstancesDetectionPeriod="00:00:02" instanceCompletionAction="DeleteAll" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
